h2
  i.fa.fa-camera
  |Add/Edit models
.controls-button
  button(ng-click="clear()") clear
  button(ng-click="save()") save
.if-select-model(ng-if="current.files.length > 0")
  img(ng-src="{{current.main_photo()}}", alt="")
.form-group
  label(for='namemodels')
  input#namemodels.form-control(type='text', placeholder='Enter name', ng-model="current.name")
.form-group
  textarea.form-control(rows='3', placeholder='Enter description', ng-model="current.description")
p select categories
.select-categories-for-model
  .checkbox(ng-repeat="category in categories")
    label
      input(type='checkbox', ng-model="current._categories[category.category_id]")
      {{category.name}}
.clear-fix
.form-group(ng-if="current.name")
  .file-upload-wrapper(data-text='Select your file!')
    input.file-upload-field(ng-file-select="add_file($files)" type='file', name='file-upload-field')
.upload-img-progress
  .name-and-disable
    span
      |Name file
    button
      i.fa.fa-times

  .progress
    .progress-bar(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%;')
      span.sr-only
.upload-img-progress
  .name-and-disable
    span
      |Name file
    button
      i.fa.fa-times

  .progress
    .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
      span.sr-only
p(ng-if="current.files.length > 0") Have photo
ul(ng-if="current.files.length > 0")
  li(ng-repeat="file in current.files" ng-class="{main: file.is_main}")
    img(ng-src="{{file.path}}", alt="")
    a(href="", ng-click="delete_file(file)")
      i.fa.fa-times
    a(href="") main
